feature bgp
router bgp {{ bgp_asn }}
router-id {{ loopback101_ip_addr }}
address-family ipv4 unicast
{% for adv_pref in bgp_advertise %}
  network {{ adv_pref }}
{% endfor %}
  neighbor {{ bgp_peer_ip }}
  remote-as {{ bgp_asn }}
  description configured by ansible
  address-family ipv4 unicast
!


