interface {{ eth1_4_name }}
  ip address {{ eth1_4_ip_addr }}/{{ eth1_4_subnetmask }}
!
interface {{ loopback101_name }}
  ip address {{ loopback101_ip_addr }}/{{ loopback101_subnetmask }}
!
interface {{ loopback102_name }}
  ip address {{ loopback102_ip_addr }}/{{ loopback102_subnetmask }}
!

