# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
#
[defaults]
host_key_checking = False
host_key_auto_add = True
forks = 15
stdout_callback = yaml
# gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp
callback_whitelist = profile_tasks
#callback_enabled = profile_tasks
deprecation_warnings = False
log_path=/tmp/ansible.log
ansible_debug = True
timeout = 240
nocows = 1
gathering = explicit
retry_files_enabled = False
#system_warnings = False
filter_plugins = plugins/filter/

[persistent_connection]
ssh_type = paramiko
command_timeout = 45
