hostname {{ asafirepower.hostname }}
domain-name {{ asafirepower.domainname}}
enable password {{asafirepower.enable_secret_password}}
interface Ethernet1/1
 description {{ asafirepower.primary_isp_name_circuitnumber_accountnumber }}
 no shut
 nameif {{ asafirepower.primary_isp_outside_interface_name }}
 security-level 0
 ip address {{ asafirepower.primary_isp_public_ipaddress}} {{asafirepower.primary_isp_public_ipaddress_subnetmask}}
interface Ethernet1/2
 channel-group {{ asafirepower.channel_group_number}} mode active
 no shut
 no nameif
 no security-level
 no ip address
interface Ethernet1/3
 channel-group {{ asafirepower.channel_group_number}} mode active
 no shut
 no nameif
 no security-level
 no ip address
interface Ethernet1/4
 description 
 no shut
 no nameif 
 no security-level 
 no ip address 
interface Ethernet1/5
 no shut
 no nameif
 no security-level
 no ip address
interface Ethernet1/6
 no shut
 no nameif
 no security-level
 no ip address
interface Ethernet1/7
 no shut
 no nameif
 no security-level
 no ip address
interface Ethernet1/8
 no shut
 no nameif
 no security-level
 no ip address
interface Management1/1
 management-only
 nameif INIT_CONF
 security-level 100
 ip address dhcp setroute
interface Port-channel{{ asafirepower.channel_group_number }}
 lacp max-bundle 8
 no nameif
 no security-level
 no ip address
interface Port-channel{{ asafirepower.channel_group_number }}.{{asafirepower.datavlan01}}
 vlan {{asafirepower.datavlan01}}
 nameif {{asafirepower.datavlan01_name}}
 security-level 100
 ip address {{ asafirepower.ipaddress_datavlan01}} {{asafirepower.datavlan01_subnetmask}}
interface Port-channel{{ asafirepower.channel_group_number }}.{{asafirepower.voicevlan01}}
 vlan  {{asafirepower.voicevlan01}}
 nameif {{asafirepower.voicevlan01_name}}
 security-level 100
 ip address {{ asafirepower.ipaddress_voicevlan01}} {{asafirepower.voicevlan01_subnetmask}}
interface Port-channel{{ asafirepower.channel_group_number }}.{{asafirepower.corp_wifi_vlan01}}
 vlan {{asafirepower.corp_wifi_vlan01}}
 nameif {{asafirepower.corp_wifi_vlan01_name}}
 security-level 100
 ip address {{ asafirepower.ipaddress_corp_wifi_vlan01}} {{asafirepower.corp_wifi_vlan01_subnetmask}}
interface Port-channel{{ asafirepower.channel_group_number }}.{{asafirepower.guest_wifi_vlan01}}
 vlan {{asafirepower.guest_wifi_vlan01}}
 nameif {{asafirepower.guest_wifi_vlan01_name}}
 security-level 50
 ip address {{ asafirepower.ipaddress_guest_wifi_vlan01}} {{asafirepower.guest_wifi_vlan01_subnetmask}}
interface Port-channel{{ asafirepower.channel_group_number }}.{{asafirepower.printervlan01}}
 vlan {{asafirepower.printervlan01}}
 nameif {{asafirepower.printervlan01_name}}
 security-level 100
 ip address {{ asafirepower.ipaddress_printervlan01}} {{asafirepower.printervlan01_subnetmask}}
banner login #############################################################################
banner login # WARNING ## WARNING ## WARNING ## WARNING ## WARNING ## WARNING ## WARNING #
banner login #############################################################################
banner login
banner login THIS U.S. ANESTHESIA PARTNERS COMPUTING SYSTEM IS FOR AUTHORIZED
banner login OFFICIAL USE ONLY. Unauthorized use or use for other than official U.S.
banner login ANESTHESIA PARTNERS' business is a violation of State and Federal law.
banner login
banner login Individuals using this computing system are subject to having all
banner login of their activities on this system monitored and recorded without
banner login further notice. Auditing of users may include keystroke monitoring.
banner login
banner login Any individual who uses this system expressly consents to such
banner login monitoring and is advised that information about their use of this
banner login system may be provided to State and Federal law enforcement or
banner login other authorities if evidence of criminal or other unauthorized
banner login activity is found.
banner login
banner login #############################################################################
banner login # WARNING ## WARNING ## WARNING ## WARNING ## WARNING ## WARNING ## WARNING #
banner login #############################################################################
banner login
banner login Contact the U.S. Anesthesia Partners Helpdesk at: (800) 337-1312 for more info
banner login LOG OFF IMMEDIATELY AFTER USE
banner login
banner motd #############################################################################
banner motd # WARNING ## WARNING ## WARNING ## WARNING ## WARNING ## WARNING ## WARNING #
banner motd #############################################################################
banner motd
banner motd THIS U.S. ANESTHESIA PARTNERS COMPUTING SYSTEM IS FOR AUTHORIZED
banner motd OFFICIAL USE ONLY. Unauthorized use or use for other than official U.S.
banner motd ANESTHESIA PARTNERS' business is a violation of State and Federal law.
banner motd
banner motd Individuals using this computing system are subject to having all
banner motd of their activities on this system monitored and recorded without
banner motd further notice. Auditing of users may include keystroke monitoring.
banner motd
banner motd Any individual who uses this system expressly consents to such
banner motd monitoring and is advised that information about their use of this
banner motd system may be provided to State and Federal law enforcement or
banner motd other authorities if evidence of criminal or other unauthorized
banner motd activity is found.
banner motd
banner motd #############################################################################
banner motd # WARNING ## WARNING ## WARNING ## WARNING ## WARNING ## WARNING ## WARNING #
banner motd #############################################################################
banner motd
banner motd Contact the U.S. Anesthesia Partners Helpdesk at: (800) 337-1312 for more info
banner motd LOG OFF IMMEDIATELY AFTER USE
banner motd
banner asdm #############################################################################
banner asdm # WARNING ## WARNING ## WARNING ## WARNING ## WARNING ## WARNING ## WARNING #
banner asdm #############################################################################
banner asdm
banner asdm THIS U.S. ANESTHESIA PARTNERS COMPUTING SYSTEM IS FOR AUTHORIZED
banner asdm OFFICIAL USE ONLY. Unauthorized use or use for other than official U.S.
banner asdm ANESTHESIA PARTNERS' business is a violation of State and Federal law.
banner asdm
banner asdm Individuals using this computing system are subject to having all
banner asdm of their activities on this system monitored and recorded without
banner asdm further notice. Auditing of users may include keystroke monitoring.
banner asdm
banner asdm Any individual who uses this system expressly consents to such
banner asdm monitoring and is advised that information about their use of this
banner asdm system may be provided to State and Federal law enforcement or
banner asdm other authorities if evidence of criminal or other unauthorized
banner asdm activity is found.
banner asdm
banner asdm #############################################################################
banner asdm # WARNING ## WARNING ## WARNING ## WARNING ## WARNING ## WARNING ## WARNING #
banner asdm #############################################################################
banner asdm
banner asdm Contact the U.S. Anesthesia Partners Helpdesk at: (800) 337-1312 for more info
banner asdm LOG OFF IMMEDIATELY AFTER USE
banner asdm
ftp mode passive
clock timezone {{asafirepower.timezone_for_state}}
dns domain-lookup {{asafirepower.datavlan01_name}}
dns server-group DefaultDNS
 name-server {{asafirepower.dns_server01}} {{asafirepower.datavlan01_name}}
 name-server {{asafirepower.dns_server02}} {{asafirepower.datavlan01_name}}
 name-server {{asafirepower.dns_server03}} {{ asafirepower.primary_isp_outside_interface_name }}
 domain-name {{ asafirepower.domainname}}
same-security-traffic permit inter-interface
same-security-traffic permit intra-interface
object network {{asafirepower.datavlan01_name }}
 subnet {{ asafirepower.datavlan01_subnet}} {{asafirepower.datavlan01_subnetmask}}
 description Data Subnet Internet Access
object network {{asafirepower.voicevlan01_name }}
 subnet {{ asafirepower.voicevlan01_subnet}} {{asafirepower.voicevlan01_subnetmask}}
 description Voice Subnet Internet Access
object network {{asafirepower.corp_wifi_vlan01_name }}
 subnet {{ asafirepower.corp_wifi_vlan01_subnet}} {{asafirepower.corp_wifi_vlan01_subnetmask}}
 description Corp_Wifi Internet Access
object network {{asafirepower.guest_wifi_vlan01_name }}
 subnet {{ asafirepower.guest_wifi_vlan01_subnet}} {{asafirepower.guest_wifi_vlan01_subnetmask}}
 description Guest_Wifi Internet Access
object network {{asafirepower.printervlan01_name }}
 subnet {{ asafirepower.printervlan01_subnet}} {{asafirepower.printervlan01_subnetmask}}
 description printer Internet Access
object network crtteo.com
 fqdn v4 crtteo.com
object network coinpot.com
 fqdn v4 coinpot.com
object network LYONDELBASLL.com
 fqdn v4 LYONDELBASLL.com
object network brontocdn.com
 fqdn v4 brontocdn.com
object network gitformage.com
 fqdn v4 gitformage.com
object network {{asafirepower.corp_wifi_vlan01_name | upper}}_NETWORK
subnet {{ asafirepower.corp_wifi_vlan01_subnet}} {{asafirepower.corp_wifi_vlan01_subnetmask}}
 description Corp Wifi Network
object network {{asafirepower.datavlan01_name | upper}}_NETWORK
 subnet {{ asafirepower.datavlan01_subnet}} {{asafirepower.datavlan01_subnetmask}}
 description Data or Inside Network
object network {{asafirepower.voicevlan01_name | upper}}_NETWORK
 subnet {{ asafirepower.voicevlan01_subnet}} {{asafirepower.voicevlan01_subnetmask}}
 description Voice Network
object network {{asafirepower.guest_wifi_vlan01_name | upper}}_NETWORK
 subnet {{ asafirepower.guest_wifi_vlan01_subnet}} {{asafirepower.guest_wifi_vlan01_subnetmask}}
 description Guest Wifi Network
object network {{asafirepower.printervlan01_name | upper}}_NETWORK
 subnet {{ asafirepower.printervlan01_subnet}} {{asafirepower.printervlan01_subnetmask}}
 description Printer Network
object service webminerpool
 service tcp destination eq 8181
object network 74.124.23.132
 host 74.124.23.132
object-group network ALLOWED_ACCESS_IN_USAP
 description des ip addresses that {{ asafirepower.city}} {{asafirepower.state}} is allowed to access in USAP datacenter and regional offices
 network-object 10.2.0.0 255.255.0.0
 network-object 192.200.10.0 255.255.255.0
 network-object 143.112.124.0 255.255.255.0
 network-object 10.4.0.0 255.255.0.0
 network-object 10.5.0.0 255.255.0.0
 network-object 10.64.0.0 255.255.0.0
 network-object host 172.29.128.21
 network-object host 172.29.128.22
 network-object 10.7.0.0 255.255.0.0
 network-object 10.150.0.0 255.255.0.0
 network-object object 74.124.23.132
 network-object 10.65.0.0 255.255.255.0
 network-object host 10.68.200.244
 network-object 172.28.22.0 255.255.255.0
 network-object 172.28.24.0 255.255.255.0
 network-object 192.168.200.0 255.255.255.0
 network-object 10.91.0.0 255.255.255.0
 network-object 10.3.0.0 255.255.240.0
object-group network {{ asafirepower.city_state_abbreviation | upper}}_LOCAL_NETWORK
 description {{ asafirepower.city}} {{asafirepower.state}} Local Network
 network-object {{ asafirepower.datavlan01_subnet}} {{asafirepower.datavlan01_subnetmask}}
 network-object {{ asafirepower.voicevlan01_subnet}} {{asafirepower.voicevlan01_subnetmask}}
 network-object {{ asafirepower.corp_wifi_vlan01_subnet}} {{asafirepower.corp_wifi_vlan01_subnetmask}}
 network-object {{ asafirepower.guest_wifi_vlan01_subnet}} {{asafirepower.guest_wifi_vlan01_subnetmask}}
 network-object {{ asafirepower.printervlan01_subnet}} {{asafirepower.printervlan01_subnetmask}}
 network-object object {{ asafirepower.primary_isp_public_ipaddress}}
object-group network BLOCKED_HOSTS
 network-object 111.206.116.0 255.255.255.0
 network-object 61.186.245.0 255.255.255.0
 network-object 218.24.91.0 255.255.255.0
 network-object 27.154.0.0 255.255.0.0
 network-object 218.205.0.0 255.255.0.0
 network-object 87.240.0.0 255.255.0.0
 network-object host 162.202.105.116
 network-object host 71.164.175.190
 network-object host 213.128.81.66
 network-object 222.184.0.0 255.248.0.0
 network-object 219.151.0.0 255.255.0.0
 network-object 110.80.0.0 255.240.0.0
 network-object 60.208.0.0 255.248.0.0
 network-object 104.156.228.64 255.255.255.192
 network-object host 109.236.90.141
 network-object host 180.169.17.10
 network-object host 173.44.13.13
 network-object host 198.204.235.26
 network-object host 192.229.210.181
 network-object host 34.212.209.60
 network-object host 209.58.183.233
 network-object host 119.29.157.223
 network-object host 110.44.126.237
 network-object host 191.96.249.80
 network-object host 159.8.217.214
 network-object host 203.24.188.59
 network-object host 216.184.127.154
 network-object host 169.56.89.210
 network-object host 121.40.151.219
 network-object host 209.58.183.234
 network-object host 197.230.26.246
 network-object host 185.8.107.163
 network-object host 212.47.234.86
 network-object host 177.154.145.103
 network-object host 161.202.72.160
 network-object host 107.168.71.14
 network-object host 101.200.51.228
 network-object host 35.184.9.25
 network-object host 218.95.180.189
 network-object host 123.249.18.182
 network-object host 144.217.105.158
 network-object host 35.194.65.252
 network-object host 202.130.33.117
 network-object host 121.244.154.110
 network-object host 40.69.164.199
 network-object host 79.143.178.112
 network-object host 58.30.96.137
 network-object host 125.7.231.122
 network-object host 213.132.46.124
 network-object host 177.154.139.200
 network-object host 112.64.33.92
 network-object host 196.52.34.4
 network-object host 185.172.110.214
 network-object host 184.75.213.36
 network-object host 212.237.37.67
 network-object host 94.102.49.175
 network-object host 119.57.251.164
 network-object host 123.30.236.163
 network-object host 64.140.171.90
 network-object host 74.208.72.37
 network-object host 103.10.52.83
 network-object host 47.90.92.92
 network-object host 103.78.52.80
 network-object host 136.24.133.49
 network-object host 162.144.221.185
 network-object host 103.12.160.61
 network-object host 202.59.140.76
 network-object host 103.196.211.91
 network-object host 183.78.180.27
 network-object host 185.172.110.230
 network-object host 185.172.110.216
 network-object host 162.219.176.52
 network-object host 104.129.24.243
 network-object host 106.247.248.106
 network-object host 104.200.152.5
 network-object host 91.207.175.166
 network-object host 104.168.177.9
 network-object host 66.71.248.226
 network-object host 177.234.145.230
 network-object host 110.17.188.30
 network-object host 125.128.73.58
 network-object host 125.77.72.197
 network-object host 188.237.250.100
 network-object host 192.223.94.132
 network-object host 202.109.164.31
 network-object host 203.93.109.130
 network-object host 217.119.114.107
 network-object host 218.28.135.178
 network-object host 222.170.168.82
 network-object host 31.13.227.4
 network-object host 5.101.8.11
 network-object host 61.189.47.93
 network-object host 104.148.42.153
 network-object host 107.179.67.243
 network-object host 118.184.48.95
 network-object host 172.247.116.8
 network-object host 172.247.116.87
 network-object host 45.199.154.141
 network-object host 82.221.102.41
 network-object host 59.90.93.97
 network-object host 80.91.118.45
 network-object host 81.0.213.173
 network-object host 98.101.211.162
 network-object host 111.207.78.204
 network-object host 181.119.19.56
 network-object host 184.107.209.2
 network-object host 145.249.107.167
 network-object object crtteo.com
 network-object host 88.221.102.41
 network-object 177.234.144.0 255.255.248.0
 network-object object brontocdn.com
 network-object object gitformage.com
 network-object host 185.77.248.4
 network-object host 173.244.44.49
 network-object host 43.245.160.163
 network-object host 103.208.220.133
 network-object host 185.217.71.138
 network-object host 69.161.195.115
 network-object host 104.200.135.125
 network-object host 23.226.131.131
 network-object host 185.220.70.150
 network-object host 185.183.106.172
 network-object host 194.187.249.182
 network-object host 202.123.177.237
 network-object host 185.230.125.35
 network-object host 190.105.239.138
 network-object host 199.116.118.134
 network-object host 196.52.60.21
 network-object host 37.120.145.92
 network-object host 91.207.175.171
 network-object host 199.116.118.234
access-list {{ asafirepower.primary_isp_outside_interface_name }}_cryptomap extended permit ip object-group {{ asafirepower.city_state_abbreviation | upper}}_LOCAL_NETWORK object-group ALLOWED_ACCESS_IN_USAP
access-list {{asafirepower.corp_wifi_vlan01_name}}_access_in extended deny ip object {{asafirepower.corp_wifi_vlan01_name | upper}}_NETWORK object-group BLOCKED_HOSTS
access-list {{asafirepower.corp_wifi_vlan01_name}}_access_in extended deny object webminerpool any any
access-list {{asafirepower.corp_wifi_vlan01_name}}_access_in extended permit ip object {{asafirepower.corp_wifi_vlan01_name | upper}}_NETWORK any
access-list {{asafirepower.guest_wifi_vlan01_name}}_access_in extended deny ip object {{asafirepower.guest_wifi_vlan01_name | upper}}_NETWORK object-group BLOCKED_HOSTS
access-list {{asafirepower.guest_wifi_vlan01_name}}_access_in extended deny object webminerpool any any
access-list {{asafirepower.guest_wifi_vlan01_name}}_access_in extended permit ip object {{asafirepower.guest_wifi_vlan01_name | upper}}_NETWORK any
access-list {{asafirepower.voicevlan01_name}}_access_in extended deny ip object {{asafirepower.voicevlan01_name | upper}}_NETWORK object-group BLOCKED_HOSTS
access-list {{asafirepower.voicevlan01_name}}_access_in extended deny object webminerpool any any
access-list {{asafirepower.voicevlan01_name}}_access_in extended permit ip object {{asafirepower.voicevlan01_name | upper}}_NETWORK any
access-list {{ asafirepower.primary_isp_outside_interface_name }}_access_in extended deny ip object-group BLOCKED_HOSTS any
access-list {{ asafirepower.primary_isp_outside_interface_name }}_access_in extended deny object webminerpool any any
access-list {{ asafirepower.primary_isp_outside_interface_name }}_access_in extended permit ip object-group ALLOWED_ACCESS_IN_USAP object-group {{ asafirepower.city_state_abbreviation | upper}}_LOCAL_NETWORK
access-list {{asafirepower.datavlan01_name}}_access_in extended deny ip object {{asafirepower.datavlan01_name | upper}}_NETWORK object-group BLOCKED_HOSTS
access-list {{asafirepower.datavlan01_name}}_access_in extended deny object webminerpool any any
access-list {{asafirepower.datavlan01_name}}_access_in extended permit ip object {{asafirepower.datavlan01_name | upper}}_NETWORK any
access-list {{asafirepower.printervlan01_name}}_access_in extended deny ip object {{asafirepower.printervlan01_name | upper}}_NETWORK object-group BLOCKED_HOSTS
access-list {{asafirepower.printervlan01_name}}_access_in extended deny object webminerpool any any
access-list {{asafirepower.printervlan01_name}}_access_in extended permit ip object {{asafirepower.printervlan01_name | upper}}_NETWORK any
access-list netflow-export extended permit ip any any
snmp cpu threshold rising 75% 30
snmp interface threshold 75%
pager lines 24
logging enable
logging timestamp
logging console critical
logging trap informational
logging asdm informational
logging host Data 10.2.0.169
logging host Data 10.2.0.168
flow-export destination Data 10.2.0.168 2055
flow-export template timeout-rate 1
flow-export delay flow-create 10
flow-export active refresh-interval 30
mtu outside 1500
mtu outside_COAX 1500
mtu INIT_CONF 1500
mtu Data 1500
mtu Voice 1500
mtu Corp_wifi 1500
mtu Guest_wifi 1500
no failover
no monitor-interface service-module
icmp unreachable rate-limit 1 burst-size 1
asdm image disk0:/asdm-7101.bin
no asdm history enable
arp timeout 14400
no arp permit-nonconnected
arp rate-limit 16384
nat (any,{{ asafirepower.primary_isp_outside_interface_name }}) source static {{ asafirepower.city_state_abbreviation | upper}}_LOCAL_NETWORK {{ asafirepower.city_state_abbreviation | upper}}_LOCAL_NETWORK destination static ALLOWED_ACCESS_IN_USAP ALLOWED_ACCESS_IN_USAP no-proxy-arp route-lookup
object network {{asafirepower.datavlan01_name | upper}}
 nat ({{asafirepower.datavlan01_name}},{{ asafirepower.primary_isp_outside_interface_name }}) dynamic interface
object network {{asafirepower.voicevlan01_name | upper}}
 nat ({{asafirepower.voicevlan01_name}},{{ asafirepower.primary_isp_outside_interface_name }}) dynamic interface
object network {{asafirepower.corp_wifi_vlan01_name | upper}}
 nat ({{asafirepower.corp_wifi_vlan01_name}},{{ asafirepower.primary_isp_outside_interface_name }}) dynamic interface
object network {{asafirepower.guest_wifi_vlan01_name | upper}}
 nat ({{asafirepower.guest_wifi_vlan01_name}},{{ asafirepower.primary_isp_outside_interface_name }}) dynamic interface
object network {{asafirepower.printervlan01_name | upper}}
 nat ({{asafirepower.printervlan01_name}},{{ asafirepower.primary_isp_outside_interface_name }}) dynamic interface
access-group {{ asafirepower.primary_isp_outside_interface_name }}_access_in in interface {{ asafirepower.primary_isp_outside_interface_name }}
access-group {{asafirepower.datavlan01_name}}_access_in in interface {{asafirepower.datavlan01_name}}
access-group {{asafirepower.voicevlan01_name}}_access_in in interface {{asafirepower.voicevlan01_name}}
access-group {{asafirepower.corp_wifi_vlan01_name}}_access_in in interface {{asafirepower.corp_wifi_vlan01_name}}
access-group {{asafirepower.guest_wifi_vlan01_name}}_access_in in interface {{asafirepower.guest_wifi_vlan01_name}}
access-group {{asafirepower.printervlan01_name}}_access_in in interface {{asafirepower.printervlan01_name}}
route {{ asafirepower.primary_isp_outside_interface_name }} 0.0.0.0 0.0.0.0 {{ asafirepower.primary_isp_public_ipaddress_gateway}}
timeout xlate 3:00:00
timeout pat-xlate 0:00:30
timeout conn 1:00:00 half-closed 0:10:00 udp 0:02:00 sctp 0:02:00 icmp 0:00:02
timeout sunrpc 0:10:00 h323 0:05:00 h225 1:00:00 mgcp 0:05:00 mgcp-pat 0:05:00
timeout sip 0:30:00 sip_media 0:02:00 sip-invite 0:03:00 sip-disconnect 0:02:00
timeout sip-provisional-media 0:02:00 uauth 0:05:00 absolute
timeout tcp-proxy-reassembly 0:01:00
timeout floating-conn 0:00:00
timeout conn-holddown 0:00:15
aaa-server USAP_RADIUS protocol radius
aaa-server USAP_RADIUS ({{asafirepower.datavlan01_name}}) host 10.2.0.127
 key 13144321001C31223F0C1C1C030403
aaa-server USAP_RADIUS ({{asafirepower.datavlan01_name}}) host 10.2.0.128
 key 13144321001C31223F0C1C1C030403
user-identity default-domain LOCAL
aaa authentication http console USAP_RADIUS LOCAL
aaa authentication ssh console USAP_RADIUS LOCAL
aaa authentication serial console USAP_RADIUS LOCAL
aaa accounting enable console USAP_RADIUS
aaa accounting serial console USAP_RADIUS
aaa accounting ssh console USAP_RADIUS
aaa local authentication attempts max-fail 10
http server enable
http 74.124.23.132 255.255.255.255 {{ asafirepower.primary_isp_outside_interface_name }}
http 192.168.120.0 255.255.255.0 INIT_CONF
http 10.32.36.0 255.255.255.0 {{asafirepower.datavlan01_name}}
http 10.2.250.0 255.255.255.0 {{asafirepower.datavlan01_name}}
http 10.4.250.0 255.255.255.0 {{asafirepower.datavlan01_name}}
http 10.4.255.0 255.255.255.0 {{asafirepower.datavlan01_name}}
http 10.2.0.250 255.255.255.255 {{asafirepower.datavlan01_name}}
http 10.2.0.99 255.255.255.255 {{asafirepower.datavlan01_name}}
http 10.4.235.0 255.255.255.0 {{asafirepower.datavlan01_name}}
http 10.4.234.0 255.255.255.0 {{asafirepower.datavlan01_name}}
http 10.2.0.168 255.255.255.255 {{asafirepower.datavlan01_name}}
http 10.4.233.0 255.255.255.0 {{asafirepower.datavlan01_name}}
http 10.3.0.0 255.255.240.0 {{asafirepower.datavlan01_name}}
snmp-server group USAP_SNMP v3 priv read RW write RW
snmp-server user netadmin USAP_SNMP v3 auth md5 {{asafirepower.md5_authentication_password}} priv aes 256 {{asafirepower.aes_privacy_password}}
snmp-server view RW iso included
snmp-server host Data 10.2.0.168 version 3 netadmin udp-port 161
snmp-server location {{ asafirepower.street_name }} {{ town_city_zipcode }} United States
snmp-server contact IT Department
snmp-server enable traps syslog
snmp-server enable traps ipsec start stop
snmp-server enable traps entity config-change cpu-temperature chassis-temperature accelerator-temperature
snmp-server enable traps memory-threshold
snmp-server enable traps interface-threshold
snmp-server enable traps remote-access session-threshold-exceeded
snmp-server enable traps connection-limit-reached
snmp-server enable traps cpu threshold rising
snmp-server enable traps ikev2 start stop
snmp-server enable traps nat packet-discard
snmp-server enable traps config
fragment chain 1 outside
sla monitor 10
 type echo protocol ipIcmpEcho 4.2.2.2 interface outside
 num-packets 3
sla monitor schedule 10 life forever start-time now
service sw-reset-button
crypto ipsec ikev1 transform-set ESP-AES-128-SHA esp-aes esp-sha-hmac
crypto ipsec ikev1 transform-set ESP-3DES-SHA esp-des esp-sha-hmac
crypto ipsec security-association pmtu-aging infinite
crypto map {{ asafirepower.primary_isp_outside_interface_name }}_map0 1 match address {{ asafirepower.primary_isp_outside_interface_name }}_cryptomap
crypto map {{ asafirepower.primary_isp_outside_interface_name }}_map0 1 set peer 74.124.23.132
crypto map {{ asafirepower.primary_isp_outside_interface_name }}_map0 1 set ikev1 transform-set ESP-AES-128-SHA
crypto ca trustpool policy
crypto ikev1 enable {{ asafirepower.primary_isp_outside_interface_name }}
crypto ikev1 policy 1
 authentication pre-share
 encryption aes-256
 hash sha
 group 5
 lifetime 86400
crypto ikev1 policy 2
 authentication pre-share
 encryption aes
 hash sha
 group 2
 lifetime 86400
crypto ikev1 policy 3
 authentication pre-share
 encryption 3des
 hash sha
 group 2
 lifetime 28800
track 10 rtr 10 reachability
telnet timeout 5
ssh scopy enable
ssh stricthostkeycheck
ssh 74.124.23.132 255.255.255.255 {{ asafirepower.primary_isp_outside_interface_name }}
ssh 104.186.111.6 255.255.255.255 {{ asafirepower.primary_isp_outside_interface_name }}
ssh 10.32.36.0 255.255.255.0 {{asafirepower.datavlan01_name}}
ssh 10.2.250.0 255.255.255.0 {{asafirepower.datavlan01_name}}
ssh 10.4.250.0 255.255.255.0 {{asafirepower.datavlan01_name}}
ssh 10.4.255.0 255.255.255.0 {{asafirepower.datavlan01_name}}
ssh 10.2.0.250 255.255.255.255 {{asafirepower.datavlan01_name}}
ssh 10.2.0.99 255.255.255.255 {{asafirepower.datavlan01_name}}
ssh 10.4.235.0 255.255.255.0 {{asafirepower.datavlan01_name}}
ssh 10.4.234.0 255.255.255.0 {{asafirepower.datavlan01_name}}
ssh 10.2.0.168 255.255.255.255 {{asafirepower.datavlan01_name}}
ssh 10.4.233.0 255.255.255.0 {{asafirepower.datavlan01_name}}
ssh 10.3.0.0 255.255.240.0 {{asafirepower.datavlan01_name}}
ssh timeout 15
ssh version 2
ssh key-exchange group dh-group1-sha1
console timeout 0
management-access {{asafirepower.datavlan01_name}}
dhcprelay server 10.2.0.100 {{ asafirepower.primary_isp_outside_interface_name }}
dhcprelay enable {{asafirepower.datavlan01_name}}
dhcprelay enable {{asafirepower.voicevlan01_name}}
dhcprelay enable {{asafirepower.corp_wifi_vlan01_name}}
dhcprelay enable {{asafirepower.guest_wifi_vlan01_name}}
dhcprelay enable {{asafirepower.printervlan01_name}}
dhcprelay setroute {{asafirepower.datavlan01_name}}
dhcprelay setroute {{asafirepower.voicevlan01_name}}
dhcprelay setroute {{asafirepower.corp_wifi_vlan01_name}}
dhcprelay setroute {{asafirepower.guest_wifi_vlan01_name}}
dhcprelay setroute {{asafirepower.printervlan01_name}}
dhcprelay timeout 60
threat-detection basic-threat
threat-detection scanning-threat
threat-detection statistics access-list
no threat-detection statistics tcp-intercept
ntp server 10.2.0.2
ntp server 10.2.0.3 prefer
group-policy {{ asafirepower.city_state_abbreviation | upper}}_TO_USAP_GRP_POLICY internal
group-policy {{ asafirepower.city_state_abbreviation | upper}}_TO_USAP_GRP_POLICY attributes
 vpn-tunnel-protocol ikev1 l2tp-ipsec ssl-client ssl-clientless
dynamic-access-policy-record DfltAccessPolicy
username {{ asafirepower.local_username}} password {{asafirepower.local_username_secret_password}} privilege 15
tunnel-group 74.124.23.132 type ipsec-l2l
tunnel-group 74.124.23.132 general-attributes
 default-group-policy {{ asafirepower.city_state_abbreviation | upper}}_TO_USAP_GRP_POLICY
tunnel-group 74.124.23.132 ipsec-attributes
 ikev1 pre-shared-key {{asafirepower.preshared_secret}}
class-map netflow-export-class
 match access-list netflow-export
class-map inspection_default
 match default-inspection-traffic
policy-map type inspect dns preset_dns_map
 parameters
  message-length maximum client auto
  message-length maximum 512
  no tcp-inspection
policy-map global_policy
 class inspection_default
  inspect dns preset_dns_map
  inspect ftp
  inspect h323 h225
  inspect h323 ras
  inspect rsh
  inspect rtsp
  inspect esmtp
  inspect sqlnet
  inspect skinny
  inspect sunrpc
  inspect xdmcp
  inspect sip
  inspect netbios
  inspect tftp
  inspect ip-options
  inspect icmp
 class netflow-export-class
  flow-export event-type all destination 10.2.0.168
policy-map Voicepolicy
 class Voice
  priority
 class Data
service-policy global_policy global
prompt hostname context
no call-home reporting anonymous
hpm topN enable

