vlan {{ data['vlans']['vlan_id'] }}
  name {{ data['vlans']['name'] }}
!
!
interface {{ data['vlans']['intf'] }}
  switchport access vlan {{ data['vlans']['vlan_intf_id'] }}
!
!
!
copy running-config startup-config
!
!

